@import url("https://fonts.googleapis.com/css?family=Roboto:300,400|Ubuntu:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Economica:400,700");
@import url("https://fonts.googleapis.com/css?family=Arizonia");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
#app-header {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 900;
}
#app-header .app-menu-bar {
  width: 100%;
  float: left;
  height: 40px;
  box-shadow: 0px 0px 10px #000;
  background-color: #61b2e1;
  padding: 0;
  margin: 0;
}
#app-header .app-menu-bar .menu-item {
  line-height: 40px;
}
#app-header .app-menu-bar .menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}
#app-header .app-menu-bar .app-logo span {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  float: left;
  color: #fff;
}
#app-header .shadow-rising {
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
  min-height: 100vh;
  background-color: transparent;
  z-index: -100;
}
#app-header .dark {
  z-index: 998;
  background-color: rgba(0,0,0,0.7);
}
#app-header .app-menu-screen {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 100%;
  float: left;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  display: block;
}
#app-header .app-menu-screen .menu-screen-area {
  box-shadow: 0px 0px 10px #000;
  width: 70%;
  float: left;
  background-color: #fff;
  min-height: 100vh;
  display: block;
  padding: 0;
  margin: 0;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-top {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #3d7fa9;
  box-shadow: 0px 0px 10px #000;
  color: #fff;
  margin-bottom: 10px;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content {
  width: 100%;
  float: left;
  display: block;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li {
  height: 40px;
  width: 100%;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px #3d7fa9;
  -webkit-transition: all;
  transition: all;
  -moz-transition: all;
  -o-transition: all;
  -ms-transition: all;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li:first-child {
  border-top: solid 1px #3d7fa9;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li:hover,
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li:focus {
  background-color: #3d7fa9;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li:hover a,
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li:focus a {
  color: #fff;
  text-decoration: none;
}
#app-header .app-menu-screen .menu-screen-area .menu-screen-content ul li a {
  width: 100%;
  float: left;
  padding: 5px 5px 5px 20px;
  color: #3d7fa9;
  font-family: "Ubuntu";
}
#app-header .app-menu-screen .rollback-area {
  width: 30%;
  float: left;
  min-height: 100vh;
  background-color: transparent;
}
#app-header .left {
  left: -110vw;
}
#app-header .right {
  left: 210vw;
}
#app-header .shown {
  left: 0 !important;
}
